:root {
  --color-black: #000000;
  --color-light-black: #444444;
  --color-white: #fcfcfc;

  --color-light-green: #7fcb70;
  --color-green: #62ab67;

  --color-blue: #283d55;
  --color-light-blue: #2c7afd;

  --color-light-grey: #d0d4d8;
  --color-lighter-grey: #f5f5f5;
  --color-grey: #8f8f98;

  --color-brown: #c2b8b4;

  --color-error: #ff9898;
  --color-bookmark: #ffe498;
}
